{# The "builder form" that the user edits in order to specify the LTI launch to do. -#}

{% macro input(id,
               label,
               value,
               help,
               required=False,
               recommended=False,
               optional=False) -%}
  <div class="form-group">
    {% if label %}
      <label for="{{ id }}">{{ label|safe }}:</label>
    {% else %}
      <label for="{{ id }}"><code>{{ id|safe }}</code>:</label>
    {% endif %}

    {% if required -%}
      <span class="badge badge-pill badge-primary">Required</span>
    {%- endif %}

    {% if recommended -%}
      <span class="badge badge-pill badge-secondary">Recommended</span>
    {%- endif %}

    {% if optional -%}
      <span class="badge badge-pill badge-danger">Optional</span>
    {%- endif %}

    <input class="form-control"
           type="text"
           id="{{ id }}"
           name="{{ id }}" 
           {% if value %}value="{{ value }}{% endif %}">
    {% if help -%}
      <small id="{{ id }}Help" class="form-text text-muted">
        {{ help|safe }}
      </small>
    {%- endif %}
  </div>
{%- endmacro %}

<form id="builder-form" method="post">

<fieldset>
  <legend>Application Instance</legend>
  <p>Details of the application instance to launch.</p>

{{ input("lti_launch_url",
         'Launch URL',
         value="http://localhost:8001/lti_launches",
         help="The launch URL to submit the form to.",
         required=True,
) }}

{{ input("oauth_consumer_key",
         "Consumer Key (<code>oauth_consumer_key</code>)",
         required=True,
         help='This is the "Consumer Key" that you received from the '
              "LTI app's registraction process. For example from "
              '<a href="http://localhost:8001/welcome">localhost:8001/welcome</a> '
              'or <a href="https://lms.hypothes.is/welcome">hypothes.is/welcome</a>. '
              "It gets used as the <code>oauth_consumer_key</code> param in the LTI launch.",
) }}

{{ input("oauth_shared_secret",
         "Shared Secret (<code>oauth_shared_secret</code>)",
         required=True,
         help='This is the "Shared Secret" that you received from the '
              "LTI app's registraction process. For example from "
              '<a href="http://localhost:8001/welcome">localhost:8001/welcome</a> '
              'or <a href="https://lms.hypothes.is/welcome">hypothes.is/welcome</a>. '
              "This isn't actually submitted to the app as part of the LTI "
              "launch. Instead it's used to sign the LTI launch request. "
              "The <kbd>Sign</kbd> button on the <samp>OAuth Signature</samp> "
              "field below uses this. "
              "This is called the <code>oauth_shared_secret</code> in "
              "OAuth 1.0.",
) }}
</fieldset>

<fieldset>
  <legend>OAuth</legend>
  <p>OAuth parameters. LTI launch requests are signed using
  <a target="_blank" href="https://oauth.net/core/1.0/">OAuth 1.0</a>
  request signing, and LTI apps should verify the OAuth signature in every
  request received. The LMS uses the Shared Secret
  (<code>oauth_consumer_secret</code>) that was established between the app and
  the LMS during app installation to sign the requests and the app uses the
  same Shared Secret to verify the signatures.</p>

{{ input("oauth_signature_method", value="HMAC-SHA1", required=True) }}

{{ input("oauth_timestamp", required=True, value=oauth_timestamp) }}

{{ input("oauth_nonce", required=True, value=oauth_nonce) }}

{{ input("oauth_version", value="1.0", required=True) }}

{{ input("oauth_callback",
         required=True,
         help="This field isn't really necessary and isn't used by LTI, but "
              "if your OAuth lib forces you to have an "
              "<code>oauth_callback</code> then you can use any string, such "
              "as <code>about:blank</code>, here.",
)}}

  <label for="oauth_signature">OAuth Signature:</label>
  <div class="input-group">
    <input type="text"
           id="oauth_signature"
           name="oauth_signature"
           class="form-control">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary"
              formaction="{{ request.route_url('launch_sign') }}"
              id="signButton">Sign</button>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Launch 🚀</legend>
  <p>Things to do with the LTI launch itself.</p>

{{ input("lti_message_type",
         value="basic-lti-launch-request",
         required=True,
         help="The LTI message type that is being sent.",
) }}

{{ input("lti_version",
         value="LTI-1p0",
         required=True,
         help="Which version of the LTI spec is being used. "
              "All versions of the spec (LTI v1.0, 1.1, 1.1.1, 1.2 and 1.3) "
              "say that this must be <code>LTI-1p0</code>.",
) }}
</fieldset>

<fieldset>
  <legend>User 🙍</legend>
  <p>Things about the currently logged-in LMS user (e.g. a teacher or a
  student) who is launching the app.</p>

{{ input("user_id",
         value="0ae836b9-7fc9-4060-006f-27b2066ac545",
         recommended=True,
         help="An opaque, unique ID for the user. Unique within a given LMS "
              "but two different LMS's could have two different users with "
              "the same <code>user_id</code>.",
)}}

{{ input("user_image",
         optional=True,
         help="The URI for a profile picture image of the user. "
              "Relatively small. Square.",
)}}

{{ input("roles",
         value="Instructor,urn:lti:instrole:ims/lis/Administrator",
         recommended=True,
         help="A comma-separated list of roles that this user has, e.g. "
              "<code>Instructor</code>, <code>Learner</code>.",
)}}

{{ input("lis_person_name_full",
         value="Jane Q. Public",
         recommended=True,
         help="The user's full name, e.g. <code>Jane Q. Public</code>. May be "
              "suppressed by privacy settings.",
)}}

{{ input("lis_person_name_given",
         value="Jane",
         recommended=True,
         help="The user's given name, e.g. <code>Jane</code>. May be "
              "suppressed by privacy settings.",
)}}

{{ input("lis_person_name_family",
         value="Public",
         recommended=True,
         help="The user's family name, e.g. <code>Public</code>. May be "
              "suppressed by privacy settings.",
)}}

{{ input("lis_person_contact_email_primary",
         recommended=True,
         help="The user's email address. May be suppressed by privacy "
              "settings.",
)}}
</fieldset>

<fieldset>
  <legend>LMS</legend>
  <p>Things about the LMS itself.</p>

  {{ input("tool_consumer_instance_guid",
           help="Unique identifier for the LMS instance. Often a domain name. In case of multi-tenancy best practice is domain name prefixed with locally unique ID.",
           value="u.hypothes.is",
           recommended=True) }}

  {{ input("tool_consumer_instance_name",
           help="The name of the LMS, plain text and about the length of a column.",
           value="HypothesisU",
           recommended=True) }}

  {{ input("tool_consumer_instance_description",
           help="A description of the LMS, plain text and about the length of a line.",
           value="University of Hypothesis",
           optional=True) }}

  {{ input("tool_consumer_instance_url",
           help="URL of the LMS",
           optional=True) }}

  {{ input("tool_consumer_instance_contact_email",
           value="System.Admin@school.edu",
           recommended=True) }}

  {{ input("tool_consumer_info_product_family_code",
           help="For example learn, desire2learn, sakai, eracer, olat, webct, moodle, canvas",
           value="potemkin",
           recommended=True) }}

  {{ input("tool_consumer_info_version",
           value="9.2.4",
           recommended=True) }}
</fieldset>

<fieldset>
  <legend>Course 📚</legend>

  <p>Things about the LMS course ("context") within which the app is being launched.</p>

  <p>The LTI v1.1 spec:</p>

  <blockquote>&ldquo;A context is roughly equivalent to a course, project, or other
  collection of resources with a common set of users and roles.  The word
  "context" is used instead of "course" because a course is only one kind of
  context (another type of context would be "group").&rdquo;</blockquote>

{{ input("context_id",
         value="8213060-006f-27b2066ac545",
         help="An opaque identifier that uniquely identifies the context. If the same app were added to a course multiple times "
              "this <code>context_id</code> would be the same regardless of which instance of the app were launched. "
              "Probably not unique across different LMS instances.",
         recommended=True) }}
{{ input("context_type",
         help="A comma-separated list of context types.",
         value="CourseSection",
         optional=True) }}
{{ input("context_title",
         help="A plain text title for the context, should be about one line long.",
         value="Design of Personal Environments",
         recommended=True) }}
{{ input("context_label",
         help="A plain text short label for the context, should fit in one column.",
         value="SI182",
         recommended=True) }}
</fieldset>

<fieldset>
  <legend>Resource</legend>

  <p>Things about the resource.</p>

  <p>There can be multiple installations ("LTI links") of the same app within a single course ("context").
  Also sometimes called "placements" of the app within the LMS. Or "the link that launched the app".
  Each such app installation/placement/link within a course/context is called a
  "resource link".</p>

{{ input("resource_link_id",
         help="An opaque unique identifier for the resource link. Not unique across LMS instances. "
              "If the same app were added to a course multiple times this <code>resource_link_id</code> "
              "would be different for each instance of the app.",
         value="88391-e1919-bb3456",
         required=True) }}
{{ input("resource_link_title",
         help="A plain text title for the resource.",
         value="My Weekly Wiki",
         recommended=True) }}
{{ input("resource_link_description",
         help="A plain text description of the resource. Typically no more than a few lines.",
         value="",
         optional=True) }}
</fieldset>

<fieldset>
  <legend>Grading</legend>
  <p>Things to do with submitting "outcomes" from the app back to the LMS.</p>

  <p>The LTI Basic Outcomes Service enables apps to send OAuth-signed XML
  messages back to the LMS to set, retrieve and delete user grades.  Grades are
  decimal numbers between 0.0 and 1.0.</p>

  <p>As well as the spec, see also <a target="_blank" href="https://canvas.instructure.com/doc/api/file.assignment_tools.html">Canvas's Grade Passback Tools docs</a>.</p>

{{ input("lis_result_sourcedid") }}
{{ input("lis_outcome_service_url") }}
{{ input("lis_person_sourcedid") }}
{{ input("lis_course_offering_sourcedid") }}
{{ input("lis_course_section_sourcedid") }}
</fieldset>

<fieldset>
  <legend>Presentation</legend>
  <p>Hints from the LMS about how the app might want to present its response.</p>

{{ input("launch_presentation_locale",
         help='<a target="_blank" href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">BCP-47</a> language, country and variant, e.g. <code>en-US</code>. '
              "The spec doesn't say whether this is required, recommended or optional.") }}
{{ input("launch_presentation_document_target",
         help="Whether the app is going to be rendered in a <code>frame</code>, <code>iframe</code> or <code>window</code>",
         recommended=True) }}
{{ input("launch_presentation_css_url",
         help="The URL of a CSS file. Intended to allow the app to blend in with the LMS. "
              '"There are no standards that describe exactly what CSS classes, etc. should be in this CSS." '
              "The spec doesn't say whether this is required, recommended or optional.") }}
{{ input("launch_presentation_width",
         help="The width of the frame the app will be shown in. Presumably in pixels (the spec doesn't say). Of course the user may subsequently resize their window and invalidate this anyway.",
         recommended=True) }}
{{ input("launch_presentation_height",
         help="The height of the frame the app will be shown in. Presumably in pixels (the spec doesn't say). Of course the user may subsequently resize their window and invalidate this anyway.",
         recommended=True) }}
{{ input("launch_presentation_return_url",
         help="A URL the app can use to redirect the user back to the LMS. "
              "If there's been an error the app can add a "
              "user-friendly <code>lti_errormsg</code> GET query parameter, <b>or</b> an <code>lti_errorlog</code> parameter for a "
              "non-user-friendly one. "
              "If there <b>hasn't</b> been an error the app can add an <code>lti_msg</code> param to ask the LMS to display a "
              "message to the user, or <code>lti_log</code> to log a non-user message.",
         recommended=True) }}
</fieldset>

<fieldset>
  <legend>Custom</legend>
  <p>The "creator of an LTI link" (i.e. the person who installs an instance of an app within an LMS?) can add custom key/value
  parameters that are then sent in launch requests. These all start with <code>custom_</code> and are always all lower-case
  and only numbers, letters and underscores. For example: <code>custom_review_chapter=1.2.56</code>.</p>

  <p>Some LMS's support substitutions in these, for example: <code>xstart=$CourseSection.timeFrame.begin</code>.

  <p>TODO: Support custom parameters here.</p>
</fieldset>
</form>
