/* The main CSS file for the whole app. */

.iframe {
  height: 800px;
  width: 100%;
  border: 2px dashed #ddd;
  padding: 2%;
}

fieldset {
  padding: 1em;
  border: 1px solid #ddd;
  margin-bottom: 2em;
}

fieldset legend {
  width: auto;
}
